<div class="dropdown">
    <a href="#" class="btn btn-outline-danger dropdown-toggle"
        id="managedropdownmenu" data-toggle="dropdown">
            Manage
    </a>
    <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
        <a asp-action="Index" asp-controller="DbManage" asp-area="Database" class="dropdown-item">
            Database
        </a>

        <a asp-action="Index" asp-controller="Contact" asp-area="Contact" class="dropdown-item">
            Quan ly lien he
        </a>

    </div>
</div>